@{
    ViewData["Title"] = "Index";
}

@model IDataResult<List<SubCategoryGetDto>>
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">SubCategories</h4>
            <p>Add, edit or delete a subcategory</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <a class="btn btn-success" asp-action="Create" asp-controller="SubCategory">New SubCategory</a>
            </div>
            <div class="card-body">
                <partial name="_subCategoryTablePartial" model="Model.Data" />

            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->
<!-- Static Backdrop Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">SubCategory</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
          
            </div>
        </div>
    </div>
</div>
@section Scripts{
<script>
    $(".table").on("click", ".infoBtn", function () {
        var id = $(this).data('id');
        $.ajax({
            url: "@Url.Action("Get", "SubCategory")",
            data: { id: id },
            success: function (data) {
                $("#staticBackdrop .modal-dialog .modal-body").html(data);
            }
        });
    });
</script>
}