<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" data-key="t-menu">Menu</li>

                <li>
                    <a asp-action="Index" asp-controller="Home">
                        <i data-feather="home"></i>
                        <span data-key="t-dashboard">Home</span>
                    </a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Category">
                        <i data-feather="layout"></i>
                        <span data-key="t-horizontal">Categories</span>
                    </a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="SubCategory">
                        <i data-feather="layout"></i>
                        <span data-key="t-horizontal">SubCategories</span>
                    </a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Color">
                        <i data-feather="layout"></i>
                        <span data-key="t-horizontal">Color</span>
                    </a>
                </li>


            </ul>

            <div class="card sidebar-alert border-0 text-center mx-4 mb-0 mt-5">
                <div class="card-body">
                    <img src="~/Manage/assets/images/giftbox.png" alt="">
                    <div class="mt-4">
                        <h5 class="alertcard-title font-size-16">Unlimited Access</h5>
                        <p class="font-size-13">Upgrade your plan from a Free trial, to select ‘Business Plan’.</p>
                        <a href="#!" class="btn btn-primary mt-2">Upgrade Now</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sidebar -->
    </div>
</div>